html {
    --background: #A4DBEF;
    --shelf-main-color:  #046E8F;
    --shelf-borders: #34A6CA;
    --planks-bg: #073F50;
    --main-books: #FDF0D5;
    --books-border: #E3D1AB;
    --title: #073F50;
    
    @media (prefers-color-scheme: dark) {
        --background: #272727;
        --shelf-main-color:  #7674A1;
        --shelf-borders: #AAA8CD;
        --planks-bg: #4A487A;
        --main-books: #FDF0D5;  
        --books-border: #E3D1AB;
        --title: #FDF0D5;
    }
}

/* * {
    outline: 1px solid red;
} */

body {
    background-color: var(--background);
}

body.no-scroll {
    overflow: hidden;
}

ul {
    list-style-type: none;
}

header {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: end;
}


.myname {
    display: grid;
    grid-template-columns:repeat(5, max-content);
    max-width: max-content;
    justify-self: center;
}

.myname ul {
    padding: 0;
    margin: 0;
}

.myname li h2 {
    text-align: center;
    font-size: 20vw;
    margin-bottom: 0;
    color: var(--title);
    pointer-events: none;
}

.myname li:hover h2 {
    animation-name: jump;
    animation-duration: 5s;
}

/* animation title name  */
@keyframes jump {
    0% {
        translate: 0em 0em;
    }
    10% {
        translate: 0em -1.2em;
    }
    15% {
        translate: 0em 0em;
    }
    25% {
        translate: 0em -0.5em;
    }
    30% {
        translate: 0em 0em;
    }
    35% {
        translate: 0em -0.3em;
    }
    45% {
        translate: 0em -0.0em;
    }
}

/* shelf */
.shelf {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shelf-top, .shelf-bottom {
    background-color: var(--shelf-main-color);
    width: 80vw;
    height: 50px;
    border: solid 5px var(--shelf-borders);
    border-radius: 10px;

    @media (max-width: 820px) {
        width: 90vw;
        min-width: 400px;

    }
}

.shelf-middle {
    background-color: var(--shelf-main-color);
    width: 70vw;
    display: flex;
    padding: 2em;
    display: flex;
    flex-direction: column;
}

.shelf-middle ul {
    padding: 0;
}

.planks {
    background-color: var(--planks-bg);
    height: 300px;
    margin-bottom: 2em;
    border-bottom: solid var(--shelf-borders) 10px;
    border-radius: 10px;
    display: grid;
    gap: .5em;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-items: end;

    & li {
        background-color: var(--main-books);
        width: 90%;
        max-width: 100%;
        height: 80%;
        border-radius: 8px 8px 0px 0px;
        border: 3px solid var(--books-border);
    }

    & li:hover {
        translate: 0em -1.5em;
        animation-name: bookhover;
        animation-duration: infinite;
        animation-fill-mode: both;
    }
}

@keyframes bookhover {
    from {
        transform: rotateX(30deg);
    }
    to {
        transform: rotateX(-30deg);
    }
}


.plank1 li:nth-of-type(4), .plank2 li:nth-of-type(6), .plank3 li:nth-of-type(2) {
    opacity: 0;
}

/* pop-up menu's from books */
.pop-up, .pop-up2 {
    position: sticky;
    top: 25%;
    z-index: 1;
    display: grid;
    place-items: center;
    transform-style: preserve-3d;

    & button {
    background-color: var(--shelf-main-color);
    color: var(--main-books);
    

    }
}

.pop-up, .pop-up2 div {
    display: grid;
    justify-self: center;
    align-items: center;
}

bladzijde {
    background-color: var(--main-books);
    width: 30vw;
    height: 50vh;
    margin: 0 auto;
    margin-bottom: 1em;
    border-radius: 8px;
    display: grid;
    grid-column-start: 1;
    grid-row-start: 1;
    align-items: center;
    justify-items: center;
    transform-origin: left;
    transform-style: preserve-3d;

    @media (max-width: 800px) {
        width: 50vw;
    }
}

bladzijde:nth-of-type(1) {
    z-index: 1;
}

.hidden {
    display: none;
}

bladzijde section {
    grid-column-start: 1;
    grid-row-start: 1;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    backface-visibility: hidden;

    &:nth-of-type(2) {
        rotate:y -180deg;
    }

    & p, h3 {
        text-align: center;
        padding: 1em;
    }
}

.open-page {
    animation-name: turnleft;
    animation-duration: 2s;
    animation-fill-mode: both;
    z-index: 1;
}


/* page turn buttons */
.pageturn-left, .pageturn-right {
    width: 4em;
    height: 2em;
    background-color: white;
    margin: 2em;
}

@keyframes turnleft {
    to {
        rotate: y -180deg;
        transition: 2s;
    }
}

