html {
    --background: #A4DBEF;
    --shelf-main-color:  #046E8F;
    --shelf-borders: #34A6CA;
    --planks-bg: #073F50;
    --main-books: #FDF0D5;
    @media (prefers-color-scheme: dark) {
        --background: #272727;
        --shelf-main-color:  #7674A1;
        --shelf-borders: #AAA8CD;
        --planks-bg: #4A487A;
        --main-books: #FDF0D5;  
    }
}


/* * {
    outline: 1px solid red;
} */

body {
    background-color: var(--background);
}

ul {
    list-style-type: none;
}

header {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: end;
}

/* .theme {
    appearance: none;
}

.theme::before {
    width: 20em;
    height: 5em;
    border-radius: 10px;
    border: none;
    background-color: var(--main-books);
} */

.myname {
    display: grid;
    grid-template-columns:repeat(5, max-content);
    max-width: max-content;
    justify-self: center;
}

.myname ul {
    padding: 0;
    margin: 0;
}

.myname li h2 {
    text-align: center;
    font-size: 20vw;
    margin-bottom: 0;
    color: var(--planks-bg);
    pointer-events: none;
}

.myname li:hover h2 {
    animation-name: jump;
    animation-duration: 5s;
}

/* animation title name  */
@keyframes jump {
    0% {
        translate: 0em 0em;
    }
    10% {
        translate: 0em -1.2em;
    }
    15% {
        translate: 0em 0em;
    }
    25% {
        translate: 0em -0.5em;
    }
    30% {
        translate: 0em 0em;
    }
    35% {
        translate: 0em -0.3em;
    }
    45% {
        translate: 0em -0.0em;
    }
}

/* shelf */
.shelf {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shelf-top, .shelf-bottom {
    background-color: var(--shelf-main-color);
    width: 80vw;
    height: 50px;
    border: solid 5px var(--shelf-borders);
    border-radius: 10px;
}

.shelf-middle {
    background-color: var(--shelf-main-color);
    width: 70vw;
    display: flex;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: top;
}

.shelf-middle ul {
    padding: 0;
}

.planks {
    background-color: var(--planks-bg);
    height: 300px;
    margin-bottom: 2em;
    border-bottom: solid var(--shelf-borders) 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end
}

.planks div {
    background-color: var(--main-books);
    width: 10%;
    height: 80%;
    border-radius: 8px 8px 0px 0px;
    margin-right: 1em;
}

.plank1 div:nth-of-type(4), .plank2 div:nth-of-type(6), .plank3 div:nth-of-type(2) {
    opacity: 0;
}



/* pop-up menu's from books */
.pop-up {
    background-color: var(--main-books);
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    position: sticky;
    top: 10%;
    padding: 1em;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up section {
    width: 50vw;
    height: 100%;
    background-color: white;
}

.pop-up section:first-of-type {
    border-right: solid black 8px;
}

.pop-up section:nth-of-type(2) {
    border-left: solid black 8px;
}



.hidden {
    display: none;
}