/* * {
    outline: 1px solid red;
} */
h1 {
    text-align: center;
}
ul {
    list-style-type: none;
}

/* shelf */
.shelf {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shelf-top, .shelf-bottom {
    background-color: antiquewhite;
    width: 80vw;
    height: 50px;
}
 
.shelf-middle {
    background-color: rgb(165, 130, 85);
    width: 70vw;
    height: 1500px;
    display: flex;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: top;
}

.shelf-middle ul {
    padding: 0;
}

.planks {
    background-color: rgb(89, 66, 37);
    width: 100%;
    height: 300px;
    margin-bottom: 2em;
}